<!-- Footer -->
	<section id="footer">
		<div class="container">
			<div class="row justify-content-center align-items-center">
                <div class="col-xs-3 col-sm-3 col-md-3">
					<h5>Quick links</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="/sellers/signin"><i class="fa fa-angle-double-right"></i>Sellers</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- ./Footer -->