<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
	<a class="navbar-brand" href="/">
		<img src="/images/logo.png" alt="Logo Brand" width="90px">
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="/">Home</a>
			</li>
				{{# if session.usertype }}
				{{ else }}
					<li class="nav-item active">
						<a class="nav-link" href="/shopping-cart">
							<i class="fas fa-shopping-cart"></i>  
								Cart
							<span class="badge badge-pill badge-success">{{ session.cart.totalQty }}</span>
						</a>
					</li>
				{{/if}}
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					User Account
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					{{!-- LOGGED USER --}}
					{{# if login }}
						<a class="dropdown-item" href="/user/profile">My Account</a>
						{{# if session.usertype }}
						<a class="dropdown-item" href="/sellers/products">My Products</a>
						{{/if}}
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="/user/logout">Logout</a>
					{{!-- END LOGGED USER --}}
					{{ else }}
					{{!-- UNLOGGED USER --}}
						<a class="dropdown-item" href="/user/signin">Login</a>
						<a class="dropdown-item" href="/user/signup">Sign Up</a>
					{{!-- END UNLOGGED USER --}}
					{{/if}}
				</div>
			</li>
		</ul>
	</div>
</nav>