<div class="row justify-content-center align-items-center">
	{{# if order }}
	<div class="col-sm-6">
		<h1>Order Information</h1>
		<div class="card">
			<div class="card-body">
				<ul class="list-group">
					{{# each order }}
						<li class="list-group-item">
							<span> {{ this.qty }} Units | </span>
							{{ this.item.title }}
							<span class="badge float-right">${{ this.price }}</span>
						</li>
					{{/each}}
				</ul>
			</div>
			<div class="card-footer">
				<span class="float-left">
					Total Price: ${{ total }}
				</span>
				<span class="float-right">
					<a href="/" class="btn btn-info">Close  </a>
				</span>
				<span class="float-right">
					<a href="javascript:window.print(); void 0;" class="btn btn-info"><i class="fas fa-print"></i></a>
				</span>
			</div>
		</div>
	</div>
	{{/if}}
</div>