<div class="row justify-content-center align-items-center">
	<div class="col-sm-6 col-md-4">
		<div id="success" class="alert alert-info {{# if noMessages }} invisible {{/if}}">
			{{ messages }}
		</div>
	</div>
</div>

<div class="row justify-content-center align-items-center">
	<div class="col-md-8">
		<h1>Welcome {{ user }}</h1>
		<hr>
		{{# if session.usertype}}
			<h2>My Sales</h2>
			{{# each sales }}
				<div class="card">
					<div class="card-body">
						<div class="row bg-dark text-white font-weight-bold">
							<span class="col-2">Units</span>
							<span class="col">Article</span>
							<span class="col-2">Unitary Price</span>
						</div>
						<div class="row">
							<span class="col-2">{{ this.totalQty }} </span>
							<span class="col">{{ this.item.title }}</span>
							<span class="col-2">${{ this.item.price }}</span>
						</div>
					</div>
					<div class="card-footer">
						<span class="float-right">
							Total Price: ${{ this.totalPrice}}
						</span> 
					</div>
				</div>
			{{/each}}
		{{ else }}
			<h2>My Orders</h2>
			{{# each orders }}
				<div class="card">
					<div class="card-body">
						<span>Date of purchase: {{ this.date }}</span>
						<div class="row bg-info text-white font-weight-bold">
							<span class="col-2">Units</span>
							<span class="col">Article</span>
							<span class="col-2">Unitary Price</span>
						</div>
						{{# each this.items }}
							<div class="row">
								<span class="col-2">{{ this.qty }} </span>
								<span class="col">{{ this.item.title }}</span>
								<span class="col-2">${{ this.price }}</span>
							</div>
						{{/each}}
					</div>
					<div class="card-footer">
						<span class="float-right">
							Total Price: ${{ this.cart.totalPrice}}
						</span> 
					</div>
				</div>
			{{/each}}
		{{/if}}
	</div>
</div>
