<div class="row h-100 justify-content-center align-items-center form-sign">
    <div class="col-lg-4 color-white">
        <h1 class="text-center">Sign In</h1>
        {{#if hasErrors }}
            <div class="alert alert-danger">
                {{# each messages}}
                    <p>{{this}}</p>
                {{/ each}}
            </div>
        {{/if}}
        <form action="/user/signin" method="post" class="form-sign-container">
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="text" name="email" id="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control">
            </div>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
        </form>
        <p class="text-center">Don't have an account? Create one <a href="/user/signup">here</a></p>
    </div>
</div>