<div class="row h-100 justify-content-center align-items-center">
    <div class="col-lg-4">
        <h1 class="text-center">Sign Up</h1>
        {{#if hasErrors }}
            <div class="alert alert-danger">
                {{# each messages}}
                    <p>{{this}}</p>
                {{/ each}}
            </div>
        {{/if}}
        <form action="/user/signup" method="post" class="form-sign-container">
            <div class="form-group">
                <label for="fullname">Full Name</label>
                <input type="text" name="fullname" id="fullname" class="form-control">
            </div>
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="text" name="email" id="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control">
            </div>
            <div class="form-group">
                <label for="vpassword">Verify Password</label>
                <input type="password" name="vpassword" id="vpassword" class="form-control">
            </div>
            <div class="form-group">
                <label for="controlselecttype">What do you want to do?</label>
                <select class="form-control" name="controlselecttype">
                    <option>Buy</option>
                    <option>Sell</option>
                </select>
            </div>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
        </form>
        <p class="text-center">Already registered? Click <a href="/user/signin">here</a> to Login</p>
    </div>
</div>