a {
	text-decoration: none;
	color: initial;
}
.form-sign-container {
	background: rgba(0, 0, 0, 0.4);
	padding: 100px 50px 100px 50px;
	border-radius: 10px;
}
.color-white {
	color: #ffffff;
}

.color-black {
	color: #000000;
}

.thumbnail {
	width: 100%;
	height: 300px;
	overflow: hidden;
}

.thumbnail-img {
	width: 100%;
}

.price {
	font-weight: bold;
	font-size: 23px;
	color: rgb(189,61,51);
}

.form-sign {
	background: url("../images/bg.jpg") no-repeat center center fixed;
	background-size: cover;
}

.height-65 {
    height: 65px;
}
