<div class="row justify-content-center align-items-center">
	<div class="col-lg-4">
		<h1>{{firstTitle}}</h1>
		<form action="/sellers/edit-product/update/{{product._id}}" method="post">
			<div class="form-group">
				<label for="product-title">Product Title</label>
				<input type="text" class="form-control" name="title" placeholder="Enter a title" value="{{product.title}}" required>
			</div>
			<div class="form-group">
				<label for="product-description">Product Description</label>
				<textarea class="form-control" name="description" rows="3" required>{{product.description}}</textarea>
			</div>
			<div class="form-group">
                <label for="category">Category</label>
                <select class="form-control" name="category" value="{{product.category}}">
					<option>Celulares y Telefonía</option>
					<option>Electrónica y Tecnología</option>
					<option>Videojuegos</option>
					<option>Hogar y Jardín</option>
					<option>Deportes y Ocio</option>
					<option>Animales y Mascotas</option>
					<option>Ferretería y Autos</option>
					<option>Ropa, Calzado y Accesorios</option>
					<option>Mamá y Bebé</option>
					<option>Salud, Belleza y Cuidado personal</option>
					<option>Joyería y Relojes</option>
					<option>Juegos y Juguetes</option>
					<option>Libros, Revistas y Comics</option>
					<option>Películas, Series de TV y Música</option>
					<option>Otras categorías</option>
                </select>
            </div>
			<div class="form-group">
				<label for="product-img-path">Product Image Path</label>
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text" id="inputGroupPrepend"><i class="fas fa-link"></i></span>
					</div>
					<input type="text" class="form-control" name="imgpath" placeholder="Enter a Image Path" value="{{product.imagePath}}" required>
				</div>
			</div>
			<div class="form-group col-md-6">
				<label for="product-price">Product Price</label>
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text" id="priceAppend">$</span>
					</div>
					<input type="number" class="form-control" name="price" placeholder="Enter a price" min="1" value="{{product.price}}" required>
				</div>
			</div>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
			<button type="submit" class="btn btn-primary btn-block">Update</button>
		</form>
	</div>
</div>