<div class="row justify-content-center align-items-center">
	<div class="col-sm-6 col-md-4">
		<div id="success" class="alert alert-info {{# if noMessages }} invisible {{/if}}">
			{{ messages }}
		</div>
	</div>
</div>

<div class="row justify-content-center align-items-center">
	<div class="col-md-6">
		<h1>My Products</h1>
	</div>
	<div class="col-md-6">
		<a href="/sellers/products/new">
			<button type="button" class="btn btn-success float-right">Add New Product  <i class="fas fa-plus"></i></button>
		</a>
	</div>
	{{# if products }}
		{{# each products }}
			<div class="row">
				{{# each this }}
					<div class="col-sm-6 col-md-4">
						<div class="card" style="margin-top: 20px">
							<div class="thumbnail">
								<img class="thumbnail-img" src="{{ this.imagePath }}" alt="-" class="img-fluid card-img-top">
							</div>
							<div class="card-body">
								<div class="card-title">
									<h3>{{ this.title }}</h3>
								</div>
								<div class="card-text">
									<p>{{ this.description }}</p>
								</div>
								<div class="card-body">
									<div class="price float-left"> ${{ this.price }} </div>
									<div class="dropdown float-right card-link">
										<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											Actions
										</a>
										<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
											<a class="dropdown-item" href="/sellers/edit-product/update/{{this._id}}">Edit</a>
											<button type="button" class="dropdown-item" style="cursor: pointer;" 
												data-toggle="modal" data-target="#exampleModal" data-url="{{this._id}}"
											>
												Permanently Delete
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				{{/each}}
			</div>
		{{/each}}
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Are You Sure?</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						This action cannot be undone...
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
						<a class="btn btn-secondary url-delete" role="button">Delete</a>
					</div>
				</div>
			</div>
		</div>
	{{ else }}
		<h1>You have no registered products</h1>
	{{/if}}
</div>

<script>
	$('#exampleModal').on('show.bs.modal', function (event) {
		var button = $(event.relatedTarget) // Button that triggered the modal
		var id = button.data('url') // Extract info from data-* attributes
		// If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
		// Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
		var modal = $(this)
		modal.find('.url-delete').attr('href', '/sellers/remove-product/'+id)
	})
</script>