<div class="row justify-content-center align-items-center">
	<div class="col-sm-6 col-md-4">
		<h1>Checkout</h1>
		<h4>Your Total: ${{total}}</h4>
		<div id="charge-error" class="alert alert-danger {{# if noError }} invisible {{/if}} ">
			{{errMsg}}
		</div>
		<form action="/checkout" method="post" id="checkout-form">
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label for="name">Name</label>
						<input type="text" id="name" name="name" class="form-control" required name="name">
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label for="address">Address</label>
						<input type="text" id="address" name="address" class="form-control" required name="address">
					</div>
				</div>
				<hr>
				<div class="col-md-12">
					<div class="form-group">
						<label for="card-name">Card Holder Name</label>
						<input type="text" id="card-name" class="form-control" required>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label for="card-number">Credit Card Number</label>
						<input type="text" id="card-number" class="form-control" required>
					</div>
				</div>
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="card-expiry-month">Expiration Month</label>
								<input type="text" id="card-expiry-month" class="form-control" required>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="card-expiry-year">Expiration Year</label>
								<input type="text" id="card-expiry-year" class="form-control" required>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="card-cvc">CVC</label>
						<input type="text" id="card-cvc" class="form-control" required>
					</div>
				</div>
			</div>
			<button type="submit" type="button" class="btn btn-success">Buy now</button>
		</form>
	</div>
</div>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="javascripts/checkout.js"></script>