<div class="row justify-content-center align-items-center">
	<div class="col-sm-6 col-md-4">
		<div id="success" class="alert alert-success" {{#if noMessages}}hidden{{/if}}>
			{{ successMsg }}
		</div>
	</div>
</div>

{{# each products }}
	<div class="row">
		{{# each this }}
			<div class="col-sm-6 col-md-4">
				<div class="card" style="margin-top: 20px">
					<div class="thumbnail">
						<img class="thumbnail-img" src="{{ this.imagePath }}" alt="-" class="img-fluid card-img-top">
					</div>
					<div class="card-body">
						<div class="card-title">
							<h3>{{ this.title }}</h3>
						</div>
						<div class="card-body">
							<div class="card-text">
								<p> {{ this.description }} </p>
								<span>Category: {{this.category}}</span>
							</div>
						</div>
						<div class="card-footer height-65">
							<div class="price float-left"> ${{ this.price }} </div>
							<a href="/add-to-cart/{{ this._id }}" class="btn btn-success float-right card-link" role="button"><i class="fas fa-cart-plus"></i> Add to Cart</a>
						</div>
					</div>
				</div>
			</div>
		{{/each}}
	</div>
{{/each}}
