{{# if products }}
	<div class="row justify-content-center align-items-center">
		<div class="col-sm-6 col-md-6">
			<ul class="list-group">
				{{# each products }}
					<li class="list-group-item">
						<span class="badge">{{ this.qty }}</span>
						<strong> {{this.item.title}} </strong>
						<span class="label label-success">$ {{ this.price }} </span>
						<div class="btn-group float-right">
							<button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
								Action
								<span class="caret"></span>
							</button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="/reduce/{{this.item._id}}">Reduce by 1</a>
								<a class="dropdown-item" href="/remove/{{this.item._id}}">Remove All</a>
							</div>
						</div>
					</li>
				{{/each}}
			</ul>
		</div>
	</div>
	<div class="row justify-content-center align-items-center">
		<div class="col-sm-6 col-md-6">
			<strong>Total: ${{ totalPrice }}</strong>
		</div>
	</div>
	<hr>
	<div class="row justify-content-center align-items-center">
		<div class="col-sm-6 col-md-6">
			<a href="/checkout">
				<button type="button" class="btn btn-success">Checkout</button>
			</a>
		</div>
	</div>
{{ else }}
	<div class="row justify-content-center align-items-center">
		<div class="col-sm-6 col-md-6">
			<h2>Your Shopping Cart is Empty :(</h2>
		</div>
	</div>
{{/if}}
